
.profile-pic img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 30px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}
.intro{
    font-size: 18px;
}

