.intro{
    margin-top: 30px;
}
.intro p,
.intro li,
.intro dd,
.intro dt{
    text-align: left;
} 
body{
    height: auto;
    background-color: #212529;
}
@media (max-width:576px) {
    video{
        width: auto;
        height: auto;
    }
}


